@media screen and (max-width: 1300px) {

    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
            
        }

        .left-about {
            padding-right: 0;

            p {
                padding-left: 0;
                padding-right: 7rem;
            }
        }
    }
}


@media screen and (max-width: 1115px) {
    .header-content {
        padding-top: 6rem;
    }

    .portfolios {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 6rem;
    }
}


@media screen and (max-width: 865px) {
    header {
        padding: 0 !important;
    }

    .section {
        padding: 5rem 9rem;
    }

    .contact-content-con {
        flex-direction: column;

        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;

            .i-c-2 {
                flex-direction: column;

                :last-child {
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }

            .submit-btn {
                margin-bottom: 4rem;
            }
        }
    }

    .blogs {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 6rem;

    }

    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
            width: 70%;
        }

        .left-about {
            padding-right: 2rem;
            h4 {
                font-size: 1.8rem;
            }

            p {
                padding-left: 0;
                padding-right: 7rem;
            }
        }
    }

    .portfolios {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

}



@media screen and (max-width: 600px) {
    header {
        padding: 0;

        .right-header {
            padding: 0 !important;
            width: 90%;
            grid-row: 1;
            margin: 0 auto;

            .name {
                font-size: 2.5rem !important;
            }
        }
    }

    .theme-btn {
        width: 50px;
        height: 50px;

    }

    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header {
        .h-shape {
            display: none;
        }

        .image {
            width: 85% !important;
        }
    }




    .main-title {
        h2 {
            font-size: 2rem;

            span {
                font-size: 2.5rem;
            }

            .bg-text {
                font-size: 2.5rem;
            }
        }
    }

    .section {
        padding: 2rem 2.5rem;
    }


    .blogs {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;

    }



    .controls {
        top: auto;
        bottom: 0;
        left: 50%;
        flex-direction: row;
        justify-content: center;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);

        .control {
            margin: 1rem 0.3rem;
        }
    }

    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
            padding-right: 7rem;
        }

        .left-about {
            padding-right: 3.3rem;

            p {
                padding-left: 0;
            }
        }
    }

    .timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-stats {
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }

    .contact-content-con {
        flex-direction: column;

        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;

            .i-c-2 {
                flex-direction: column;

                :last-child {
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }

            .submit-btn {
                margin-bottom: 4rem;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .left-header {

        .image {
            margin-left: 5% !important;
        }
    }

    
    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
            padding-right: 7rem;
        }

        .left-about {
            padding-right: 3.3rem;
            width: 129px;

            p {
                padding-left: 0;
            }
        }
    }

}

